body{
    margin: 0;
    background-color: #EEEEEE;
}

.header{
    background-color: #00ADB5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    margin: 0;
    padding: 20px; /* Add some padding for spacing */
    color: #EEEEEE;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt {
    height: 150px;
    width: 150px;
    font-size: 60px;
    margin: 0 10px;
    background-color: #EEEEEE;
    outline: 2px solid #222831;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
}

.bt:hover {
    background-color: #e1dfdf;
}