body{
    margin: 0;
    background-color: #393E46;
}

.header{
    background-color: #222831;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#underline {
    border: 1px solid #00ADB5
}

.title {
    margin: 0;
    padding: 20px; /* Add some padding for spacing */
    color: #EEEEEE;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt {
    height: 150px;
    width: 150px;
    font-size: 60px;
    margin: 0 10px;
    background-color: #e2e2e2;
    outline: 3px solid #00ADB5;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 50px;
}

.bt:hover {
    background-color: #ffffff;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    outline: 5px solid #00ADB5;
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: flex-start; /* Align items at the top */
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.scores {
    text-align: center; /* Center the player and computer scores */
    padding: 20px;
}

.scores > * {
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}

.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 20px; /* Adjust the margin between elements */
}

.results > div {
    margin: 0 50px;
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
}

.winner {
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 10px;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.resetButton {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    outline: 3px solid #00ADB5;
    background-color: #EEEEEE;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.result{
    display: flex;
    justify-content: center;
}

.result_text {
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

}